<header>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Sign Up</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <section id="about">
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </section>


</main>
<footer>
    <div>
        <div>
          Contact Us At Goodfellas@gmail.com
        </div>
        <div>
          Contact Us At Goodfellas@gmail.com
        </div>
        <div>
          Contact Us At Goodfellas@gmail.com
        </div>
    </div>
</footer>
