<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '771688802985373',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
    FB.getLoginStatus(function(response) {
    console.log(response);
})
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




<form id="login" name="login" method="post" action="/login">
      <label for="email">Email Address</label>
      <input class="text" name="email" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <input class="btn" type="submit" value="Sign In" />
  </form>

  <a href="/auth/facebook">Login with Facebook</a>
