<form id="register" name="register" method="post" action="/register">

       <label for="email">Email</label>
       <input class="text" name="email" type="email" />

       <label for="firstname">First Name</label>
       <input name="firstname" type="text" />

       <label for="lastname">Last Name</label>
       <input name="lastname" type="text" />

       <label for="password">Password</label>
       <input name="password" type="password" />
       <input class="btn" type="submit" value="Sign Up" />

</form>
