header
  width: 100%
  display: inline-flex
  margin-top: -50px
  height: 530px
  background-image: url('../img/books.jpg')
  background-size: 900px
  background-position: top right
  filter: grayscale(25%) opacity(95%)

form
  div
    padding-top: 10px
    input
      width: 230px
      height: 25px
      outline: none
      border-radius: 3px
      border: 0px
  button
    margin-top: 10px
    width: 230px
    background: #f9fafc
    cursor: pointer
    height: 30px
    border-radius: 3px
    outline: none
    border: 0px


#logo
  font-family: 'Source Sans Pro'
  font-size: 3rem
  margin-top: -100px
  padding-bottom: 100px
